.font-special {
  font-family: 'Ruslan Display', cursive;
}
.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5);
  font-family: 'Ruslan Display', cursive;
  font-size: 1.2em;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: red;
}
.jumbo-title {
  font-size: 15vh;
}
.jumbo-background-1 {
  background-image: url("/static/img/japan.png");
  background-repeat: no-repeat;
  background-position: 70% 50%;
  background-size: contain;
}
