{% load static %}
<section class="jumbo-background-1">
    <div class="container pt-5 pb-5">
        <div class="row">
            <div class="col-lg-6">
                <h1 class="font-special"><span class="jumbo-title">Welcome</span><br> to Japoniec blog!</h1>
                <p class="">Hi there, I am Pete and this is the place where I write about my backpacking adventure, travel guides and digital nomad lessons I learned for the last 6 years on the road. I am also a travel filmmaker, photographer, and an entrepreneur. Follow me as I share my travel stories through inspiring videos, gorgeous photos and useful travel tips from every corner of the world.</p>
                <a class="btn btn-outline-danger text-uppercase font-weight-bold" href="#" role="button">Czytaj mojego bloga</a>
                <a class="btn btn-outline-dark text-uppercase font-weight-bold" href="#" role="button">O MNIE</a>
            </div>
            <div class="col-lg-6 float-right">
            </div>
        </div>
    </div>
</section>